<?xml version="1.0" encoding="utf-8"?>
<UITextFile>
  <!--GuideView-->
  <add key="GuideViewTitle" value="Entitlement Manager for SharePoint Online"/>
  <add key="GuideViewMenutitle" value="Options"/>
  <add key="GuideViewMenuItemCon" value="Configuration"/>
  <add key="GuideViewMenuItemAct" value="Activation"/>
  <add key="GuideViewMenuItemSite" value="Site property"/>
  <!--Activation-->
  <add key="ActivationTitle" value="Activation"/>
  <add key="ActivationDescriptionTitle" value="Description"/>
  <add key="ActivationDescriptionText" value="SharePoint Online Enforcer can be activated or deactivated at the list level. Select the list that you want to activate or deactivate and click Save."/>
  <add key="ActivationOverviewTitle" value="Overview"/>
  <add key="ActivationOverviewText" value="Select the list that you want to activate or deactivate."/>
  <add key="ActivationSaveSuccess" value="Activation successful"/>
  <add key="ActivationSaveFailed" value="Cannot activate"/>
  <!--Configuration-->
  <add key="ConfigurationTitle" value="Configuration"/>
  <add key="ConfigurationDescriptionTitle" value="Policy Controller configuration"/>
  <add key="ConfigurationDescriptionText" value="Specify the host and port information for Control Center and Policy Controller, Client ID and Client secure key.The default behavior takes effect when an exception occurs."/>
  <add key="ConfigurationJPCHostTitle" value="Policy Controller host address"/>
  <add key="ConfigurationCCHostTitle" value="Control Center host address"/>
  <add key="ConfigurationClientIDTitle" value="Client ID"/>
  <add key="ConfigurationClientSecureKeyTitle" value="Client secure key"/>
  <add key="ConfigurationDefaultBehaviorTitle" value="Default behavior"/>
  <add key="ConfigurationLoadingInfo" value="Saving... Please wait"/>
  <!--TestConnectionFaildMessage-->
  <add key="TestConnectionFaildMessage" value="Connection failed."/>
  <add key="ConfigurationSaveSuccess" value="Configuration successfully saved"/>
  <add key="ConfigurationInputInfo" value="You must complete the information"/>
  <add key="ConfigurationSaveFailed" value="Cannot save configuration"/>
  <!--ListSetting-->
  <add key="LibSettingTitle" value="library setting"/>
  <add key="ListSettingTitle" value="list setting"/>
  <add key="ListSettingDescriptionTitle" value="Column configuration"/>
  <add key="ListSettingDescription" value="Select the columns to use for policy evaluation."/>
  <add key="ListSettingColumnTitle" value="Column display name(InternalName)"/>
  <add key="LibSettingSaveSuccess" value=" Library setting successfully saved "/>
  <add key="LibSettingSaveFailed" value="Cannot save library setting"/>

  <!--SiteProperty-->
  <add key="SitePropertyTitle" value="Site property"/>
  <add key="SitePropertyTopDescriptionTitle" value="Evaluation level"/>
  <add key="SitePropertyTopDescription1" value="None indicates no site properties are used for evaluation."/>
  <add key="SitePropertyTopDescription2" value="Subsite indicates that the properties of only the direct subsite are used for evaluation."/>
  <add key="SitePropertyTopDescription3" value="Site Collection indicates that the properties of site collection are used for evaluation."/>
  <add key="SitePropertyTopDescription4" value="Both indicates that the properties of site collection and subsite are used for evaluation."/>
  <add key="SitePropertyBottomDescriptionTitle" value="Site property configuration"/>
  <add key="SitePropertyBottomDescription" value="Select the properties to use for policy evaluation."/>
  <add key="SitePropertyTopComboxTitle" value="Level"/>
  <add key="SitePropertyMidComboxTitle" value="Site"/>
  <add key="SitePropertyBottomTableTitle1" value="Properties"/>
  <add key="SitePropertyBottomTableTitle2" value="Property name"/>
  <add key="SitePropertySaveSuccess" value="Site property successfully saved"/>
  <add key="SitePropertySaveFailed" value="Cannot save Site property"/>
  <!--BlockMessage-->
  <add key="BlockMessage" value="You do not have access rights for this action. Contact your SharePoint administrator if you should have access."/>
  
  <!--SessionTimeoutMessage-->
  <add key="SessionTimeoutMessage" value="Your access attempt has timed out. Try again by going back to Guide View, and relaunching the NextLabs app."/>

  <!--ErrorView-->
  <add key="ErrorDescription1" value="You do not have access rights for this page, or your session has timed out."/>
  <add key="ErrorDescription2" value="An unexpected error has occurred."/>
  <add key="ErrorDescription3" value="Try again by relaunching the NextLabs app."/>
</UITextFile>
